.game {
  margin: 4em;
}

.title {
  font-size: 48px;  
}

.title-container {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(205, 205, 205);
}

.shipgrid-container {
  display: flex;
}

button {
  display: block;
}

.select-option-container {
  margin-top: 50px;

}

button {
  width: 50%;
  height: 5%;
  margin-left: 0%;
  margin-top: 1em;
  outline: none;
}

.button-active {
  outline: none;
  width: 50%;
  height: 6%;
  margin-left: 0%;
  margin-top: 1em;
  background-color: lightsteelblue;
  color: white;
}

.reset-button {
  width: 50%;
  height: 30px;
  margin-left: 0%;
  background-color: red;
}

.play-button {
  width: 50%;
  height: 30px;
  margin-left: 0%;
  background-color: greenyellow;
}

.move-fire-button {
  width: 100px;
  height: 30px;
  margin: 10px auto;
}

.normal-button {
  width: 50px;
  margin-left: 0%;
}

.button-surrender {
  width: 100px;
  background-color: indianred;
  margin-left: 0%;
}