.game {
  margin: 4em;
}

.title {
  font-size: 48px;  
}

.title-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(205, 205, 205);
}

.shipgrid-container {
  display: flex;
}

button {
  display: block;
}

.select-option-container {
  margin-top: 100px;
}

button {
  width: 50px;
  margin: 10px auto;
}

.button-active {
  width: 50px;
  margin: 10px auto;
  background-color: #666;
  color: white;
}

.reset-button {
  width: 50px;
  height: 30px;
  margin: 10px auto;
  background-color: red;
}

.play-button {
  width: 50px;
  height: 30px;
  margin: 10px auto;
  background-color: greenyellow;
}

.move-fire-button {
  width: 100px;
  height: 30px;
  margin: 10px auto;
}